/* Global Page */
html, body {margin: 0; padding: 0; font-family: 'Nunito', sans-serif; }
body { background-color: rgb(230, 245, 250); }
p.centered { text-align: center; }
p.right { text-align: right; }
span.has-more-info { border-bottom: 1px dotted black; }

/* Header */
.header {padding: 30px 0; color: #444; }
.header a:link, .header a:hover, .header a:visited { color: inherit; text-decoration: none; }
.header h1 { margin: 0px; font-size: 26px; text-transform: uppercase; white-space: nowrap; }
.header h2 { font-size: 18px; margin-top: 4px; white-space: nowrap; }
.header ul { margin: 0; list-style: none; margin-right: -6px; }
.header li { display: inline; /*width: 100px;*/ text-align: center; margin: 6px; }
.header li a { color:rgb(66, 139, 202); }
.header li.active a { background-color:rgb(66, 139, 202); }
.header li a:hover { background-color: rgb(220, 235, 240); transition: background .5s; }

/* Main */
.main { margin-bottom: 30px; }

/* Grid & Thumbnail & Related */
.rental-row { margin-bottom: 32px; }
.rental-row-last { margin-bottom: 0px; }
.thumbnail {padding: 0; border-radius:0px; border:0px; box-shadow:0px 0px 5px rgba(0,0,0,0.4); margin-bottom: 0px; }
.thumbnail:hover { text-decoration: none !important; }
.thumbnail .photo { background-size: cover; padding-top: 62%; }
.rental-name { width: 100%; padding: 8px 0px; text-align: center; background-color: rgba(128,128,128,0.5); color: white; text-transform: uppercase; }
.rental-info {  padding: 8px 0px; text-align: center; }

/* Content Frames & Related */
.content-frame { background-color: white; box-shadow:0px 0px 5px rgba(0,0,0,0.4); }
.content-frame.padded { padding: 15px; }
.content-frame h1 { margin-top: 0px; padding-top: 20px; font-size: 26px; }
.content-frame h2 { font-size: 18px; padding-bottom: 20px; margin-bottom: 0px; }
.content-frame h1.centered, h2.centered { text-align: center; }
.map-container { height: 400px; margin-right: -1px; }
.map-container iframe { width: 100%; height: 100%; }
.rental-info-table caption { text-transform: uppercase; font-weight: bold; padding-bottom: 6px; }
.rental-info-table th { text-align: left; padding-right: 12px; vertical-align: top; white-space: nowrap; width: 2%; }
h1.rental-title { margin-top: 20px; padding-top: 0px; margin-bottom: 30px; text-align: center; }
.carousel, .carousel img { width: 100%; height: 384px; }
.rental-carousel-map { padding-left: 0px; padding-top: 20px; }
.rental-carousel-map iframe { margin-top: 20px; }

/* Step Bar */
.step-bar { margin: 0px; background-color:#ccc; border-bottom: 1px solid #ccc; }
.step-bar > div { padding: 0px; }
.btn-top-first { width: 100%; border:0; border-radius: 0; -webkit-clip-path: polygon(96% 0, 100% 50%, 96% 100%, 0 100%, 0 0); clip-path: polygon(96% 0, 100% 50%, 96% 100%, 0 100%, 0 0); }
.btn-top { width: 100%; border:0; border-radius: 0;  -webkit-clip-path: polygon(0 0, 96% 0, 100% 50%, 96% 100%, 0 100%, 4% 50%); clip-path: polygon(0 0, 96% 0, 100% 50%, 96% 100%, 0 100%, 4% 50%); }
.btn-top-last { width: 100%; border:0; border-radius: 0; -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 4% 50%); clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 4% 50%); }
.step-bar .active { box-shadow: none; -webkit-box-shadow: none; outline: none; }
.step-bar .btn:focus { outline: none !important; }
.step-bar .btn.active:hover { background-color:#e6e6e6; }
.step-bar .btn:not(.active):hover { background-color: white; }

/* Rental Application */
.rental-app-content { padding: 20px; }
.rental-app-page { display: none; }
.rental-app-page.active { display: block; }
.rental-app-content .pager { margin-bottom: 0px; }
.control-autosize { display: inline-block; width: auto; }

/* Lessees Tab Bar */
.nav-tabs-wide { margin-left: -20px; margin-right: -20px; margin-bottom: 20px; }
.nav-tabs-wide li:first-child { margin-left: 20px }
.separator-wide { border-color: rgb(221, 221, 221); margin-left: -20px; margin-right: -20px; }

/* Lessee Block */
.lessee { display: none; }
.lessee.active { display: block; }
p.intro-text { margin-bottom: 20px; }

/* Income Section */
.income-details { display: none }

/* Attachées */
#occupants, #occupants-header, #pets, #pets-header, #vehicles, #vehicles-header { display: none; }

/* Part 3 UI */
#total_income { line-height: 34px; }
.part3-subblock { margin-top: 20px; }

/* Part 4 UI */
#page-4 label { display: block; font-weight: normal; }
#page-4 label input { display: block; float: left; margin-bottom: 12px; margin-right: 8px; }

/* Rental Application Done Page */
.ra-done.content-frame.padded { padding-top: 0px; }
.ra-done h2 { margin: 20px 0; padding: 0; }

/* Footer */
.footer .right { text-align: right; }
.footer { padding-bottom: 30px;  color: #444; }